@import '../../css/_vars.scss';
.login {
    width: 30vw;
    height: 60vh;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 9.5px -2px grey;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all .6s;

    input,button {
        margin: 2vh auto;
        width: 50%;
    }

    input {
        padding: 1em;
        border: none;
        border-bottom: 1px solid $secondary-color;
        font-family: $font-family-txt;
        background-color: #F6F4F4;
    }
    .button, .is-link {
        background-color: $secondary-color;
    }
    .button:hover, .is-link:hover {
        background-color: red;
    }
    input:focus{
        outline-color: $secondary-color;
    }

    p {
       text-align: left;
       margin: 0 auto;
       width: 50%;
       color: $secondary-color; 
    }

    .msg {
        visibility: hidden;
        padding: 1em 1em 0 0;
        opacity: 0;
        transition: all .8s;        
    }
}
.login:hover {
    box-shadow: 0;
    border: 1px solid $secondary-color;
 
}
@media screen and (max-width: 1000px ) {
    .login {
        width: 45vw;
        height: 45vh;
        
    }
}
@media screen and (max-width: 660px ) {
    .login {
        width: 80vw;
        height: 45vh;
        
    }
}