@import '../../css/_vars.scss';

.flat-info {
    display: flex;
    flex-direction: column;
    font-family: $font-family-flatPage;
    width: 70vw;
    text-align: center;
    margin: 0 auto;
    .img-container {
        width: 100%;
        margin-top: 4vh;
        position: relative;
        .flat-img {
            width: 100%;
        }
        .heart {
            position: absolute;
            top: 5%;
            right: 5%;
            font-size: 2.5em; 
            cursor: pointer;
            
            .fa-heart {
                color: $secondary-color;
            }

            .fa-heart-o {
                color: white;
            }
        
        }
        .heart:hover {
            font-size: 3em; 
            right: 7%;
            top: 6%;
            transition: all 200ms; 
        }
        .fa-plus {
            color: white;
            font-size: 4em;
            position: absolute;    
            left: 3%;
            bottom: 5%;    
            cursor: pointer;
        }

    }
    li, li > span,  .align-left{
        text-align: left;  
    }
    
    .flat-desc-p {
        column-count: 2;
        column-gap: 5vw;
        column-rule: 1px solid $secondary-color;
        text-align: justify;
    }
    .flat-desc {
        text-align: left;
        margin: 0 auto;
        padding: 2vh 6vw;
        box-shadow: 0 3px 2px -2px $secondary-color;
        padding-top: 1.5vh;
    }
    
    ul {
        list-style: none;
        width: 30%
    }
    .flat-prices {
        span {
            font-weight: 700;
        }
    }
    .amenities, .flat-prices {
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;
        h1 {
            padding-left: .6vw;
            width: 30%;
        }
    }
    .flat-prices {
        height: 10vh;
    }
    hr {
        background: $secondary-color;
        border: .8px solid $secondary-color;
        opacity: .45;
        margin-bottom: 0;
    }
    .listing {
        box-shadow: 0 -3px 2px -2px $secondary-color;
        margin-top: 2vh;
        padding-top: 1.5vh;
    }
}
@media screen and (max-width: 540px ) {
    .flat-info {
        font-size: .77em;
        .img-container {
            .heart {
                font-size: 2em;         
            }
            .heart:hover {
                font-size: 2.4em;
                // top: 0%;
            }
            .fa-plus::before {
                font-size: .7em;
            }
        }
        .flat-desc-p {
            column-count: 1;
            column-gap: 0;
            column-rule: none;
            text-align: justify;
        }
        .amenities, .flat-prices {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // margin: 0 auto;
            h1, ul {
                width: 100%;
            }
            h1 {
                text-align: center;
                font-weight: 700;
            }
        }
        
        .amenities {
            h1 {
                margin: 0 0 1.5vh;
            }
            ul {
                display: flex;
                justify-content:space-around;
                span {
                    display: none;
                }
            }
        }
        hr {
            margin-top: .75rem ;
        }
        .flat-prices {
            height: 13vh;
            h1, ul {
                width: 100%;
            }
            li {
                display: flex;
                justify-content: space-between;
            }
        }
    }

}