@import '../../css/_vars.scss';
.register {
    width: 50vw;
    // min-width: 200px;
    height: 60vh;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 9.5px -2px grey;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all .6s;

    input,button {
        margin: 2vh auto;
        width: 50%;
        min-width: 142px;
    }
    input {
        padding: 1em;
        border: none;
        border-bottom: 1px solid $secondary-color;
        font-family: $font-family-txt;
        background: #F6F4F4;
    }
    .button, .is-link {
        background-color: $secondary-color;
    }
    .button:hover, .is-link:hover {
        background-color: red;
    }
    input:focus{
        outline-color: $secondary-color;
    }
    .msg {
        visibility: hidden;
        padding: 1em 1em 0 0;
        opacity: 0;
        color: $secondary-color;
        width: 50%;
        margin: 0 auto;       
        text-align: left;    
        transition: all .8s;        
    }
}

.register:hover {
    box-shadow: 0;
    border: 1px solid $secondary-color;
 
}

@media screen and (max-width: 540px ) {
    .register {
        width: 90vw;
        
    }
}