.modal .modal-card {
  margin: 30vh auto;
  max-width: 540px; }
  .modal .modal-card .modal-card-body form {
    display: flex;
    flex-direction: column; }
    .modal .modal-card .modal-card-body form input {
      padding: 1em;
      border: none;
      border-bottom: 1px solid #fd5c63;
      font-family: Helvetica, sans-serif;
      background-color: #F6F4F4;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 1vh; }
    .modal .modal-card .modal-card-body form p {
      text-align: left;
      margin: 0 auto;
      width: 50%;
      padding-bottom: 3px; }
    .modal .modal-card .modal-card-body form .msg {
      visibility: hidden;
      padding: 1em 1em 0 0;
      opacity: 0;
      color: #fd5c63;
      transition: all .8s; }
  .modal .modal-card footer .is-success {
    background-color: #fd5c63; }
  .modal .modal-card footer .is-success:hover {
    background-color: red; }
  .modal .modal-card footer .cancel-modal:hover {
    background-color: #eae7e7e0; }

@media screen and (max-width: 540px) {
  .modal .modal-card {
    max-width: 90vw; } }
