@import '../../css/_vars.scss';

.modal {

    .modal-card{
        margin: 30vh auto;
        max-width: 540px;
        .modal-card-body {
            form {
                display: flex;
                flex-direction: column;
                input {
                    padding: 1em;
                    border: none;
                    border-bottom: 1px solid $secondary-color;
                    font-family: $font-family-txt;
                    background-color: #F6F4F4;
                    width: 50%;
                    margin: 0 auto;
                    margin-bottom: 1vh;
                }
                p {
                    text-align: left;    
                    margin: 0 auto;       
                    width: 50%;
                    padding-bottom: 3px;
                }
                .msg {
                    visibility: hidden;
                    padding: 1em 1em 0 0;
                    opacity: 0;
                    color: $secondary-color;
                    transition: all .8s;        
                }
            }
        }
        footer {
            .is-success {
                background-color: $secondary-color;
            }
            .is-success:hover {
                background-color: red;
            }
            .cancel-modal:hover {
                background-color: #eae7e7e0;
            }
        }
    }
}

@media screen and (max-width: 540px ) {
    .modal {
        .modal-card {
            max-width: 90vw;
        }
    }
}