@import '../../css/_vars.scss';

.modal {
    .modal-card{
        margin: 30vh auto;
        max-width: 540px;
        .modal-card-body {
            form {
                input {
                    margin: 0 auto;
                    margin-bottom: 1vh;
                }
                p {
                    text-align: left;    
                    padding-bottom: 3px;
                }
            }
        }
        footer {
            .is-success {
                background-color: $secondary-color;
            }
            .is-success:hover {
                background-color: red;
            }
            .cancel-modal:hover {
                background-color: #eae7e7e0;
            }
        }
    }
}

@media screen and (max-width: 540px ) {
    .modal {
        .modal-card {
            max-width: 90vw;
        }
    }
}