@import '../../css/_vars.scss';

.carousel-wrapper {
    .btns {
        width: 95%;
        margin: 0 auto;
        z-index: 1;
        display: flex;
        justify-content: space-between;

        .fa-arrow-circle-left, .fa-arrow-circle-right {
            cursor: pointer;
            color: $secondary-color;
        }
        
     
    }
    .carousel {
        display: flex;
        width: 1220px;
        margin: 0 auto;
        background-color: red;
        overflow: hidden;
        .flat-preview {
            min-width: 400px;
            transition: transform 1s;
        }
    }
}