@import '../../css/_vars.scss';

.carousel-component {   
    .btns {
        position: relative;
        width: 100vw;
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        transform: translateY(160px);
        z-index: 1;
        height: 1.6em;
        .fa-arrow-circle-left, .fa-arrow-circle-right {
            cursor: pointer;
            color: $secondary-color;
            font-size: 1.2em;
            transition: all .2s;
            &:hover {
                font-size: 1.5em;
            }
            &::before {
                transition: all .6s;
            }
        }
        .fa-arrow-circle-right {
            padding-right: 1em;    
        }
    } 
    .carousel-wrapper {    
        width: 90vw;
        max-width: 1130px;
        overflow: hidden;
        margin: 0 auto;

        h1 {
            font-size: 2.3em
        }

        .carousel {
            display: flex;
            .prv-wrapper {
                min-width: 370px;
                margin-right: 10px;
                transition: transform 1s;
                width: 370px;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .carousel-component { 
        .btns {
            font-size: 1.5em;
            transform: translateY(170px);
            width: 90vw;
            .fa-arrow-circle-right, .fa-arrow-circle-left {
                padding: 0;
            }
        }
        .carousel-wrapper {
            h1 {
                font-size: 1.5em;
            }
        }
    }
}