.flat-preview {
  background-color: white;
  width: 320px;
  margin: 1%;
  position: relative;
  box-shadow: 0px 0px 5px 0px lightgray; }
  .flat-preview .heart {
    position: absolute;
    right: 10%;
    top: 5%;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 200ms; }
    .flat-preview .heart .fa {
      position: absolute;
      left: 5%;
      top: 5%; }
    .flat-preview .heart .fa-heart {
      color: #fd5c63; }
  .flat-preview a {
    color: #fd5c63; }
  .flat-preview .img-container img {
    height: 60%;
    width: 100%;
    max-height: 180px; }
  .flat-preview .flat-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 20%;
    padding: 0 20px 5px; }
    .flat-preview .flat-txt-container .flat-txt {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap; }
  .flat-preview a:hover {
    color: black; }
  .flat-preview .heart:hover {
    font-size: 1.5em;
    right: 12%; }

.flat-preview:hover {
  opacity: .7; }

@media screen and (max-width: 709px) {
  .flat-preview {
    margin: 20px 0; } }
