$font-family-txt: Helvetica, sans-serif;
$font-family-flatPage: sans-serif ;

// Colors
// $bg-color: #C87A0F;
$bg-color: #988F80;
$color: #250848;
$alt-color: #E2DFB4;
$light-color: #DDDDDD;

// <Loader/> vars
$loader-size: 10vw;
$loader-top: calc(50vh - 5vw);
$loader-left: calc(50vw - 5vw);

