@import './css/_vars.scss';
.no-scroll {
    overflow: hidden;
}

.outer-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form.Login, form.Register, form.TransactionModal {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    .link-register, p {
        margin: 0 auto;
        width: 50%;
    }
        
    .msg {
        font-size: .5em;
        height: .9em;
        height: .8em;
        visibility: hidden;
        opacity: 0;
        color: $secondary-color; 
        transition: all .8s;        
    }

    .updated {
        font-size: .9em;
        visibility: visible;
        opacity: 0.5;
    }
}

form.Login, form.Register {
    width: 30vw;
    min-width: 350px;
    min-height: 350px;
    height: 60vh;
    margin: 10vh auto;
    box-shadow: 0px 0px 9.5px -2px grey;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all .6s;
    &:hover {
        box-shadow: 0;
        border: 1px solid $secondary-color;
    }
    .button, .is-link, {
        margin: 2vh auto;
        width: 50%;
        background-color: $secondary-color;
        &:hover {
            background-color: red;
        }
    }
    
    .link-register {
        text-align: left;
        color: $secondary-color; 
        padding: 1em 1em 0 0;
     }
    
     .msg {
        text-align: left;
        margin: 0 auto;
        width: 50%;
     }
}

.hide {
    display: none;
}

.fa-hide {
    &::before{
        opacity: 0;
        cursor: auto;
    }
}

@media screen and (max-width: 660px ) {
    form.Login, form.Register {
        width: 90vw;
    }
}