@import '../../css/_vars.scss';

.footer {
    margin: 2vh 2vw;
    box-shadow: 0 -3px 2px -2px $secondary-color;
    padding: 0;
    // position: absolute;
    // bottom: 0%;
    width: 95vw;

    .footer-txt {
        padding: 1vh 0 1vh;
    }
}